<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datepicker.css" />
    <!-- jquery UI for dialog box -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP Help</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    @Html.Partial("_Favicons")
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jqueryUI.js"></script>
    <script type="text/javascript" src="~/js/datepicker.js"></script>
     <!-- bootstrap select package -->
    <link rel="stylesheet" href="~/css/bootstrapselect.css">
    <script type="text/javascript" src="~/js/bootstrapselect.js"></script>
    <!-- jquery UI for dialog box -->
    <script type="text/javascript" src="~/js/jqueryUI.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
