/* Accordion
/* ------------------------- */

.def-title {
    font-size: xx-large !important;
    font-weight: lighter !important;
    font-family: 'Roboto', arial, sans-serif;
    line-height: normal;
}

.def-disamb {
    font-size: large;
    font-family: 'Roboto', arial, sans-serif;
    line-height: normal;
}

.def-adj {
    font-style: italic;
    font-size: small;
    padding: 10px 2px;
    line-height: normal;
    font-family: 'Roboto', arial, sans-serif;
}

.def {
    font-size: small;
    font-weight: lighter !important;
    text-align: -webkit-match-parent;
    font-family: 'Roboto', arial, sans-serif;
}

.ss-spotlight-header {
    background-color: rgba(44, 62, 80, .2);
}

.ss-center {
    text-align: center;
}

.Collapsible {
    background-color: transparent;
    border: 0px solid rgb(186, 134, 6);
    border-radius: 8px 8px 25px 25px;
}

.Collapsible:nth-of-type(1) .Collapsible__trigger {
    display: none;
}

.Collapsible__contentInner {
    padding: 10px;
    border: 0px solid #ebebeb;
    border-top: 0;
}

.Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 0;
}

.Collapsible__trigger {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    height: 55px;
    color: #383838;
    border: .5px solid rgb(186, 134, 6);
    border-radius: 10px;
    margin-top: 15px !important;
    font-size: 18px !important;
    font-family: 'Raleway', sans-serif;
    outline: none;
    padding: 17px 20px !important;
    text-align: center;
}

.Collapsible__trigger:hover {
    background-color: rgba(186, 134, 6, .8) !important;
    color: #fffaee !important;
    font-weight: bold;
    outline: none;
}