@media (max-width: 767px) {
    .home-image {
        max-height: 250px !important;
        margin-top: 45px;
    }
}

@media (min-width: 768px) {
    .home-image {
        max-height: 350px !important;
        margin-top: 45px;
    }
}

.centered {
    margin-top: 25px;
    margin-bottom: 25px;
}

.home-icon {
    color: #383838;
    font-size: 2em;
    vertical-align: middle;
}

.home-container {
    margin-bottom: 15px;
}

.tooltip-container {
    margin-left: 25px;
}

.download-link {
    font-size: 18px;
    line-height: 2em;
}

.download-link:hover {
    text-decoration: none;
}

.sectionHeader {
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #5cb85c;
    color: #fffaee;
    font-weight: 600;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}

.is-open {
    background: rgb(44, 62, 80) !important;
    color: #fffaee !important;
    border: 0px !important;
}

.btn-selfservice {
    /* font */
    color: #383838;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    white-space: normal !important;
    word-wrap: break-word;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: .5px solid rgb(44, 62, 80) !important;
    border-radius: 2px;
    /* transitions */
    transition: all .1s ease 0s;
    /* other */
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    outline: none;
    background-color: transparent;
    padding: 10px 15px;
    margin: 5px 0px;
    width: 100%;
}

.btn-selfservice:active, .btn-selfservice:focus, .btn-selfservice:hover {
    background-color: #337ab7 !important;
    border: .5px solid #337ab7 !important;
    color: #fffaee !important;
    font-weight: bold;
    outline: none;
}

.btn-big {
    font-size: 18px;
    padding: 15px 40px !important;
    width: 80%;
    line-height: 1.5em;
    margin: 20px 0px !important;
}

/* transitions for home ms notice */

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}