/* core classes */
html, body {
    height: 100% !important;
}
body {
    background-color: rgba(255, 250, 238, .5);
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
}
h1, h2, h3, h4, h5 {
    color: #383838;
    font-family: 'Raleway', sans-serif;
}
.centered {
    margin-top: 10px;
    margin-bottom: 25px;
}
hr {
    border-top: 1px solid rgb(186, 134, 6);
    margin: 2em 0;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}
/* validation */
label.error {
    margin-left: 20px;
    margin-top: 3px;
    color: red;
}

/* responsive classes */
@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
    .main-nav {
        z-index: 100000;
        height: auto;
        max-height: 100vh;
        overflow-x: hidden;
    }
    .home-image {
        opacity: 0.8; 
        max-height: 350px !important;
        margin-top: 20px;
    }
    .navbar-logout-btn {
        padding: 7px 5px 5px 5px !important;
    }
}

@media (min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar-inverse { 
        overflow: auto;
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        width: 100%;
        white-space: normal;

    }
    .navbar-logout-btn {
        padding: 7px 5px 5px 5px !important;
    }
    .home-image {
        opacity: 0.8; 
        max-height: 350px !important;
        margin-top: 45px;
    }
}

/* navbar style */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main-nav li .glyphicon {
    margin-right: 10px;
}
.main-nav li a.active:focus {
    background-color: rgb(26, 36, 47);
    color: #fffaee !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fffaee;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(186, 134, 6, 1);
}
.navbar {
    border-width: 0px 0px 1px 0px;
}
.navbar-inverse { 
    background-color: rgb(44, 62, 80) !important; 
    border-color: rgba(202, 205, 206, .5) !important;
}
.navbar-brand {
    color: #fffaee !important;
    letter-spacing: 1.5px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background: rgb(26, 36, 47) !important;
    color: #fffaee !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(202, 205, 206, .5) !important;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(26, 36, 47) !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fffaee !important;
}
.sidenav-header {
    letter-spacing: 1px;
    padding-left: 10px;
    color: #fffaee !important;
    margin-top: 15px !important;
    font-size: 20px !important;
}
.accountcontainer {
    border-top: 1px solid rgba(202, 205, 206, .5);
    margin: 15px 15px 0 15px;
    padding: 15px 15px 0 15px;
}
.account {
    color: #fffaee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logout {
    width: 100px;
}
.navbar-logout-btn {
    padding: 7px 5px 5px 5px !important;
}
.btn-link {
    margin-top: 5px;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
    border: .5px solid #fffaee;
    background-color: transparent !important;
}


/* form styles */
.form-h4 {
    margin-left: 15px;
}
/* text box */
.form-element {
    margin-bottom: 20px !important;
}
.form-control {
    border-radius: 10px;
    border: .4px solid rgba(186, 134, 6, .5);
    padding: 8px 15px !important;
    height: auto;
    background-color: transparent;
    line-height: 1.8;
    color: #383838;
}
.btn-form-control {
    margin: 0px 0 !important;
    border-radius: 10px;
    height: auto;
    width: 100%;
    background-color: transparent;
    line-height: 1.8;
    outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}
/* formatting for read-only fields */
.no-border {
    border: 0;
    box-shadow: none;
    background-color: transparent !important;
}
/* datepicker */
input[readonly].datepicker{
    padding: 6px 12px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #383838;
    background-color: transparent !important;
    border-radius: 10px;
    height: auto;
    border: .4px solid rgba(186, 134, 6, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.ui-datepicker-header {
    background: rgba(44, 62, 80, .5);
    height: 30px;
    border: 0px;
}
.ui-datepicker {
    background-color: rgba(255, 250, 238, 1) !important;   
    border-radius: 10px;
}
.ui-state-default {
    border-radius: 5px;
    text-align: center !important;
}
/* hide overflow of text area boxes, in conjunction with autosize script */
textarea { 
    overflow: hidden;
}
/* format dropdown buttons to look like other fields*/
button.bs-placeholder[role='button']>span {
    color:#999;
}
/* info btn used for bootstrap select elements */
.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    padding: 10px 14px !important;
    margin: 0px 0px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #383838;
    background-color: transparent !important;
    border-radius: 10px;
    height: auto;
    border: .4px solid rgba(186, 134, 6, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    width: 100% !important;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 10px;
}
.dropdown-menu {
     background-color: rgba(255, 252, 243, 1);
     border-radius: 5px 5px 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: rgb(44, 62, 80) !important;
    color: white !important;
}
/* standard software tooltip, pc order form */
.software_tooltip {
    text-align: left !important;
    font-size: 12px;
    padding: 10px;
    width: auto;
    height: auto;
}
/* network reg form elements */
.networkreg-contactinfo {
    padding: 10px;
    margin: 10px;
}
#networkregcontact .form-control {
    margin: 5px;
}

/* button styles */
.btn {
    z-index: 0 !important;
}
.btn i {
    padding: 0px !important;
    padding-bottom: 5px;
    padding-right: 10px;
}
.btn-big {
    /* font */
    color: #383838;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    line-height: 2.1em;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px rgb(186, 134, 6);
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color: transparent;
    padding: 45px 0;
    margin: 5px 0;
    width: 85%;
    height: 200px;
}
.btn-big:active, .btn-big:focus  {
    background-color: transparent !important;
    color: #383838 !important;
    outline: none;
 }
.btn-big:hover {
    background-color: transparent !important;
    text-shadow: rgb(186, 134, 6) 0 0 2px;
    transition-duration: .4s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .6s;
    border: .5px rgb(186, 134, 6);
    border-style: solid;
    border-radius: 10px;
    color: #383838 !important;
    transition: all .2s ease 0s;
}
/* icons in big btns */
.home-icon {
    color: #383838;
    font-size:2em; 
    vertical-align: middle; 
}
.btn-default, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default  {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: .5px rgb(186, 134, 6);
    border-style: solid;
    border-radius: 10px;
    /* transitions */
    transition: all .3s ease 0s;
    /* other */
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    outline: none;
    background-color:transparent;
    padding: 10px 15px;
    margin: 15px 7px;
    width: 200px;
}
.btn-selfservice {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    white-space:normal !important;
    word-wrap: break-word; 
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: .5px solid rgb(44, 62, 80) !important;
    border-radius: 2px;
    /* transitions */
    transition: all .1s ease 0s;
    /* other */
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    outline: none;
    background-color:transparent;
    padding: 10px 15px;
    margin: 5px 0px;
    width: 100%;
}
.btn-selfservice:active, .btn-selfservice:focus, .btn-selfservice:hover {
    background-color: rgba(186, 134, 6, .8) !important;
    border: .5px solid rgb(186, 134, 6) !important;
    color: #fffaee !important;
    font-weight: bold;
    outline: none;
 }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition: all .3s ease 0s;
    /* other */
    background-color:rgba(202, 205, 206,.35);
    padding: 10px 30px;
    margin: 7px;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* popup elements */
.ui-dialog-titlebar-close { 
    width: 20px !important; 
    height: 20px !important; 
    border-radius: 20px;
    outline: none;
  }
.ui-dialog {
    z-index: 1500!important;
    position:absolute !important;
    border-radius: 25px;
  }
.ui-dialog-titlebar {
    background: rgba(44, 62, 80, .9);
    border-radius: 18px 18px 0px 0px;
    height: 40px;
    border: 0px;
  }
.ui-dialog-content { 
    color: #383838;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 250, 238, .5) !important;
    font-family: 'Raleway', sans-serif;
}

/* home components */
.home-container {
    margin-bottom: 15px;
}

/* self service components */
.def-title {
    font-size: xx-large !important;
    font-weight: lighter !important;
    font-family: 'Roboto',arial,sans-serif;
    line-height: normal;
}
.def-disamb {
    font-size: large;
    font-family: 'Roboto',arial,sans-serif;
    line-height: normal;
}
.def-adj {
    font-style: italic;
    font-size: small;
    padding: 10px 2px;
    line-height: normal;
    font-family: 'Roboto',arial,sans-serif;
}
.def {
    font-size: small;
    font-weight: lighter !important;
    text-align: -webkit-match-parent;
    font-family: 'Roboto',arial,sans-serif;
}
ol li {
    font-weight:bold;
}
li > p {
    font-weight:normal;
    padding-left: 5px;
}
.ss-spotlight-header {
    background-color: rgba(44, 62, 80, .2);
}
.ss-center {
    text-align: center;
}
#accordion .ui-accordion-header:nth-of-type(1) {
    display:none;
}
#accordion .ui-accordion-content:nth-of-type(1) {
    background-color: transparent;
    border: 0px;
}
#accordion .ui-icon { 
    display: none; 
}
.ui-accordion-content {
    background-color: transparent; 
    text-align: left;
    border: 0px solid rgb(186, 134, 6);
    border-radius: 8px 8px 25px 25px;
}
.ui-accordion-header {
  background-color: transparent;
  height: 55px;
  color: #383838;
  border: .5px solid rgb(186, 134, 6);
  border-radius: 10px;
  margin-top: 15px !important;
  font-size: 20px !important;
  font-family: 'Raleway', sans-serif;
  outline: none;
  padding: 18px 20px !important;
}
.ui-accordion-header:hover {
    background-color: rgba(186, 134, 6, .8) !important;
    color: #fffaee !important;
    font-weight: bold;
    outline: none;
}
.ui-state-active {
  background: rgb(44, 62, 80) !important;
  color: #fffaee !important;
  border: 0px !important;
}
.ui-state-active:hover {
    background: rgb(44, 62, 80) !important;
    color: #fffaee !important;
    border: 0px !important;
    font-weight: normal !important;
}