@media (max-width: 767px) {
    .home-image {
        max-height: 200px !important;
        margin-top: 45px;
    }
}

@media (min-width: 768px) {
    .home-image {
        max-height: 300px !important;
        margin-top: 45px;
    }
}

/* buttons on home page */

.btn-big {
    font-size: 18px;
    padding: 15px 40px !important;
    width: 80%;
    max-width: 400px;
    line-height: 1.5em;
    margin: 20px 0px !important;
}

/* transitions for home ms notice */

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

/* background color on image upload file container */

.fileContainer {
    background-color: rgba(221, 218, 218, .6) !important;
}

/* section headers for form panels */

.sectionHeader {
    letter-spacing: 1px;
    font-size: 1.3em;
    padding: 10px 25px 5px 25px;
    background-color: #d9edf7;
    color: #383838;
    margin-left: -16px;
    margin-right: -16px;
}

.is-open {
    background: rgb(44, 62, 80) !important;
    color: #fffaee !important;
    border: 0px !important;
}

.tooltip-container {
    margin-left: 25px;
}

.home-container-1 {
    min-height: 85vh;
    display: inline-block;
}

.home-child-1 {
    display: inline-block;
}

.home-container-2 {
    color: #fff;
    min-height: 120vh;
    background-color: rgb(44, 62, 80);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.home-child-2 {
    align-self: center;
}

.btn-view-services {
    margin: 5px 0px 10px 0px;
    padding: 12px 18px;
    font-size: 1.6em;
    letter-spacing: 3px;
    background-color: transparent;
    border: 1px solid rgb(44, 62, 80);
}

.btn-view-services:hover {
    background-color: #337ab7;
    color: #fff;
}

.btn-home {
    margin: 10px 0px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 30px;
}

.btn-home:hover {
    background-color: #337ab7;
}

.btn-home>img {
    margin-bottom: 10px;
}

.btn-home-header {
    font-size: 1.5em;
    color: #fff;
}

.btn-home-body {
    color: #fff;
}

/* transitions for home ms notice */

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

/* calendar */

.rbc-toolbar .rbc-toolbar-label {
    text-align: left !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.rbc-event {
    background-color: rgb(44, 62, 80) !important;
}