
<div id="react-app">
    <div id="overlayloader" class="overlayloader" style="display:flex">
        <div class="loader"></div>
    </div>      
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
